$dark-color: #d8b9ff;
$light-color: rgba(255, 255, 255, 0.87);

:root {
  --text-color: white;
  --background-color: #{$dark-color};

  font-family: "Space Mono", monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
  align-items: flex-start;
}

img {
  width: 70%;
}

h1,
h3 {
  width: 30%;
  text-align: center;
}

.scroll-please,
.shook {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  h1 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
}
.scroll-reveal {
  padding: 0 2rem;
  > h2 span,
  > p span {
    display: inline;
    color: #d8b9ff50;
    background-image: linear-gradient(
      90deg,
      var(--text-color),
      var(--text-color)
    );
    background-clip: text;
    background-size: 0% 100%;
    background-repeat: no-repeat;

    animation: scrollReveal 4s linear forwards;
    animation-timeline: view();
    animation-range: contain;
  }
  > h2 span {
    font-size: 7rem;
    animation-range-start: 10vh;
    animation-range-end: 30vh;
  }

  > p span {
    font-size: 3rem;
    animation-range-start: 30vh;
    animation-range-end: 60vh;
  }
}

@keyframes scrollReveal {
  100% {
    background-size: 100% 100%;
  }
}
